<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Data</title>
</head>
<body>
<h1>User Data</h1>
<ul>
<% for (let User of pay) { %>
  
   <li>Username: <%= User.username %></li>
   <br>
   <li>Email: <%= User.email %></li>
   <br>
   <li>Phone: <%= User.tel %></li>
   <br>
   <li>Password: <%= User.password %></li>
   <br>
   <li>Confirm Password: <%= User.cpassword %></li>
   <br><br>
<% } %>
</ul>
</body>
</html>
